<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-header"><b>My Account</b></div>
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-5">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <app-upload-image [label]="'Upload Profile Image'"></app-upload-image>
        </div>
      </div>
    </div>
  </div>
</div>
