<div class="main">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <!-- Modal -->
        <app-add-update-certifications
          [isAdd]="true"
          (updateItems)="ChangeItems()"
          [existedData]="allcertifications"
        ></app-add-update-certifications>
        <!-- Modal -->
      </div>
    </div>
  </div>
  <div class="card" *ngFor="let item of allcertifications">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <img
              alt="Fitness Organization"
              [src]="getCertImage(item.organization)"
              class="img-thumbnail"
            />
          </div>
          <div class="col-9">
            <h5 class="card-title">{{ item.title }}</h5>
            <span class="text-secondary">{{ item.organization }}</span>
            <p class="card-text mt-2">
              {{ item.created | date }} -
              {{ item.neverExpire ? "Present" : (item.expired | date) }}
            </p>
          </div>
          <div class="col-1">
            <button class="btn btn-danger mt-2" (click)="deleteItem(item.uid)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
