<div class="main">
  <div class="row py-3 px-4">
    <!-- Profile widget -->
    <div class="col-8">
      <div class="bg-white shadow rounded widget">
        <div class="px-4 pt-0 pb-4 cover">
          <div class="media align-items-end profile-head">
            <div class="profile mr-3">
              <img
                src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                alt="..."
                width="130"
                class="rounded mb-2 img-thumbnail"
              />
            </div>
            <div class="media-body mb-5 text-white">
              <h5>{{ currentTrainer.name | titlecase }}</h5>
              <p class="small mb-4">
                <i class="fas fa-map-marker-alt mr-2"></i
                >{{ currentTrainer.city }}, {{ currentTrainer.province }}
                {{ currentTrainer.country }}
              </p>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 mt-4 container">
          <div class="row"></div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
{{ currentTrainer | json }}
