<div class="card main">
  <div class="card-body">
    <div class="container">
      <!-- Header -->
      <div class="row">
        <div class="col-4">
          <img
            [src]="
              !currentTrainer?.profileUrl
                ? currentTrainer?.gender === 0
                  ? 'assets/female.png'
                  : 'assets/male.png'
                : currentTrainer?.profileUrl
            "
            [alt]="currentTrainer?.name"
            class="img-thumbnail"
          />
        </div>
        <div class="col-8">
          <h4>{{ currentTrainer?.name | titlecase }}</h4>
          <span>
            {{ currentTrainer }}
          </span>
        </div>
      </div>
      <!-- Content -->
      <div class="row">
        <div class="col">1 of 3</div>
        <div class="col">2 of 3</div>
        <div class="col">3 of 3</div>
      </div>
    </div>
  </div>
</div>
